In [2]:
%pip install numpy

Requirement already satisfied: numpy in c:\users\adeyinka\appdata\local\programs\python\python312\lib\site-packages (2.1.3)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
%pip install pandas

Collecting pandas
  Downloading pandas-2.2.3-cp312-cp312-win_amd64.whl.metadata (19 kB)
Requirement already satisfied: numpy>=1.26.0 in c:\users\adeyinka\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\adeyinka\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2024.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2024.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\adeyinka\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.3-cp312-cp312-win_amd64.whl (11.5 MB)
   ---------------------------------------- 0.0/11.5 MB ? eta -:--:--
   ---------------------------------------- 0.0/11.5 MB 660.6 kB/s eta 0:00:18
   ---------------------------------------- 0.0/11.5 MB 495.5 kB/s eta 0:00:24
   ---------------------------------------- 0.0/11.5 MB 495.5 kB/s eta 0:00:24
   ---------------------------------------- 0.1/11.5 MB 328.6 kB/s eta 0:00:35
   ---------------------------------------- 0.1/11.5 MB 328.6 kB/s eta 0:00:35
   ---------------------------------------- 0.1/11.5 MB 328.6 kB/s eta 0:00:35
   ---------------------------------------- 0.1/11.5 MB 275.8 kB/s eta 0:00:42
    --------------------------------------- 0.2/11.5 MB 476.3 kB/s eta 0:00:24
    --------------------------------------- 0.2/11.5 MB 476.3 kB/s eta 0:00:24
    --------------------------------------- 0.2/11.5 MB 479.2 kB/s eta 0:00:24
    --------------------------------------- 0.2/11.5 MB 465.5 kB/s eta 0:00:25
   - -------------------------------------- 0.3/11.5 MB 617.1 kB/s eta 0:00:19
   - -------------------------------------- 0.5/11.5 MB 783.5 kB/s eta 0:00:15
   - -------------------------------------- 0.5/11.5 MB 773.5 kB/s eta 0:00:15
   - -------------------------------------- 0.5/11.5 MB 802.8 kB/s eta 0:00:14
   -- ------------------------------------- 0.6/11.5 MB 879.4 kB/s eta 0:00:13
   -- ------------------------------------- 0.7/11.5 MB 940.0 kB/s eta 0:00:12
   -- ------------------------------------- 0.8/11.5 MB 1.1 MB/s eta 0:00:10
   --- ------------------------------------ 1.0/11.5 MB 1.2 MB/s eta 0:00:09
   ---- ----------------------------------- 1.2/11.5 MB 1.4 MB/s eta 0:00:08
   ---- ----------------------------------- 1.2/11.5 MB 1.4 MB/s eta 0:00:08
   ---- ----------------------------------- 1.3/11.5 MB 1.4 MB/s eta 0:00:08
   ----- ---------------------------------- 1.5/11.5 MB 1.5 MB/s eta 0:00:07
   ----- ---------------------------------- 1.6/11.5 MB 1.6 MB/s eta 0:00:07
   ------ --------------------------------- 1.7/11.5 MB 1.6 MB/s eta 0:00:06
   ------ --------------------------------- 1.9/11.5 MB 1.7 MB/s eta 0:00:06
   ------ --------------------------------- 2.0/11.5 MB 1.7 MB/s eta 0:00:06
   ------- -------------------------------- 2.1/11.5 MB 1.8 MB/s eta 0:00:06
   ------- -------------------------------- 2.2/11.5 MB 1.8 MB/s eta 0:00:06
   -------- ------------------------------- 2.3/11.5 MB 1.8 MB/s eta 0:00:05
   -------- ------------------------------- 2.4/11.5 MB 1.9 MB/s eta 0:00:05
   --------- ------------------------------ 2.6/11.5 MB 2.0 MB/s eta 0:00:05
   --------- ------------------------------ 2.8/11.5 MB 2.0 MB/s eta 0:00:05
   ---------- ----------------------------- 2.9/11.5 MB 2.0 MB/s eta 0:00:05
   ---------- ----------------------------- 3.0/11.5 MB 2.0 MB/s eta 0:00:05
   ---------- ----------------------------- 3.0/11.5 MB 1.9 MB/s eta 0:00:05
   ----------- ---------------------------- 3.3/11.5 MB 2.0 MB/s eta 0:00:05
   ----------- ---------------------------- 3.4/11.5 MB 2.1 MB/s eta 0:00:04
   ------------ --------------------------- 3.5/11.5 MB 2.1 MB/s eta 0:00:04
   ------------ --------------------------- 3.6/11.5 MB 2.1 MB/s eta 0:00:04
   ------------ --------------------------- 3.7/11.5 MB 2.1 MB/s eta 0:00:04
   ------------- -------------------------- 3.8/11.5 MB 2.1 MB/s eta 0:00:04
   ------------- -------------------------- 3.9/11.5 MB 2.1 MB/s eta 0:00:04
   ------------- -------------------------- 4.0/11.5 MB 2.1 MB/s eta 0:00:04
   -------------- ------------------------- 4.1/11.5 MB 2.1 MB/s eta 0:00:04
   -------------- ------------------------- 4.2/11.5 MB 2.1 MB/s eta 0:00:04
   -------------- ------------------------- 4.3/11.5 MB 2.1 MB/s eta 0:00:04
   --------------- ------------------------ 4.4/11.5 MB 2.1 MB/s eta 0:00:04
   --------------- ------------------------ 4.4/11.5 MB 2.1 MB/s eta 0:00:04
   --------------- ------------------------ 4.6/11.5 MB 2.1 MB/s eta 0:00:04
   ---------------- ----------------------- 4.7/11.5 MB 2.1 MB/s eta 0:00:04
   ---------------- ----------------------- 4.8/11.5 MB 2.1 MB/s eta 0:00:04
   ---------------- ----------------------- 4.8/11.5 MB 2.1 MB/s eta 0:00:04
   ----------------- ---------------------- 4.9/11.5 MB 2.1 MB/s eta 0:00:04
   ----------------- ---------------------- 5.0/11.5 MB 2.1 MB/s eta 0:00:04
   ----------------- ---------------------- 5.1/11.5 MB 2.1 MB/s eta 0:00:04
   ------------------ --------------------- 5.2/11.5 MB 2.1 MB/s eta 0:00:03
   ------------------ --------------------- 5.3/11.5 MB 2.1 MB/s eta 0:00:03
   ------------------ --------------------- 5.4/11.5 MB 2.1 MB/s eta 0:00:03
   ------------------- -------------------- 5.6/11.5 MB 2.1 MB/s eta 0:00:03
   ------------------- -------------------- 5.6/11.5 MB 2.1 MB/s eta 0:00:03
   ------------------- -------------------- 5.6/11.5 MB 2.1 MB/s eta 0:00:03
   ------------------- -------------------- 5.6/11.5 MB 2.1 MB/s eta 0:00:03
   ------------------- -------------------- 5.6/11.5 MB 2.1 MB/s eta 0:00:03
   ------------------- -------------------- 5.6/11.5 MB 2.1 MB/s eta 0:00:03
   ------------------- -------------------- 5.6/11.5 MB 2.1 MB/s eta 0:00:03
   ------------------- -------------------- 5.6/11.5 MB 2.1 MB/s eta 0:00:03
   ------------------- -------------------- 5.6/11.5 MB 2.1 MB/s eta 0:00:03
   ------------------- -------------------- 5.6/11.5 MB 2.1 MB/s eta 0:00:03
   ------------------- -------------------- 5.6/11.5 MB 2.1 MB/s eta 0:00:03
   ------------------- -------------------- 5.6/11.5 MB 2.1 MB/s eta 0:00:03
   -------------------- ------------------- 5.9/11.5 MB 1.9 MB/s eta 0:00:03
   ----------------------- ---------------- 6.7/11.5 MB 2.2 MB/s eta 0:00:03
   ----------------------- ---------------- 6.7/11.5 MB 2.2 MB/s eta 0:00:03
   ----------------------- ---------------- 6.7/11.5 MB 2.2 MB/s eta 0:00:03
   ----------------------- ---------------- 6.8/11.5 MB 2.1 MB/s eta 0:00:03
   ----------------------- ---------------- 6.9/11.5 MB 2.1 MB/s eta 0:00:03
   ------------------------ --------------- 7.0/11.5 MB 2.1 MB/s eta 0:00:03
   ------------------------ --------------- 7.1/11.5 MB 2.1 MB/s eta 0:00:03
   ------------------------ --------------- 7.1/11.5 MB 2.1 MB/s eta 0:00:03
   ------------------------- -------------- 7.3/11.5 MB 2.1 MB/s eta 0:00:03
   ------------------------- -------------- 7.4/11.5 MB 2.1 MB/s eta 0:00:02
   ------------------------- -------------- 7.4/11.5 MB 2.1 MB/s eta 0:00:02
   -------------------------- ------------- 7.5/11.5 MB 2.1 MB/s eta 0:00:02
   -------------------------- ------------- 7.7/11.5 MB 2.1 MB/s eta 0:00:02
   --------------------------- ------------ 7.8/11.5 MB 2.1 MB/s eta 0:00:02
   --------------------------- ------------ 7.9/11.5 MB 2.1 MB/s eta 0:00:02
   --------------------------- ------------ 8.0/11.5 MB 2.1 MB/s eta 0:00:02
   ---------------------------- ----------- 8.1/11.5 MB 2.1 MB/s eta 0:00:02
   ---------------------------- ----------- 8.2/11.5 MB 2.1 MB/s eta 0:00:02
   ---------------------------- ----------- 8.3/11.5 MB 2.1 MB/s eta 0:00:02
   ----------------------------- ---------- 8.4/11.5 MB 2.1 MB/s eta 0:00:02
   ----------------------------- ---------- 8.5/11.5 MB 2.1 MB/s eta 0:00:02
   ----------------------------- ---------- 8.6/11.5 MB 2.1 MB/s eta 0:00:02
   ----------------------------- ---------- 8.6/11.5 MB 2.1 MB/s eta 0:00:02
   ----------------------------- ---------- 8.6/11.5 MB 2.1 MB/s eta 0:00:02
   ------------------------------ --------- 8.7/11.5 MB 2.1 MB/s eta 0:00:02
   ------------------------------- -------- 8.9/11.5 MB 2.1 MB/s eta 0:00:02
   ------------------------------- -------- 9.0/11.5 MB 2.1 MB/s eta 0:00:02
   ------------------------------- -------- 9.1/11.5 MB 2.1 MB/s eta 0:00:02
   -------------------------------- ------- 9.3/11.5 MB 2.1 MB/s eta 0:00:02
   -------------------------------- ------- 9.3/11.5 MB 2.1 MB/s eta 0:00:02
   -------------------------------- ------- 9.3/11.5 MB 2.1 MB/s eta 0:00:02
   -------------------------------- ------- 9.3/11.5 MB 2.1 MB/s eta 0:00:02
   -------------------------------- ------- 9.3/11.5 MB 2.1 MB/s eta 0:00:02
   -------------------------------- ------- 9.3/11.5 MB 2.1 MB/s eta 0:00:02
   -------------------------------- ------- 9.4/11.5 MB 2.0 MB/s eta 0:00:02
   -------------------------------- ------- 9.4/11.5 MB 2.0 MB/s eta 0:00:02
   -------------------------------- ------- 9.4/11.5 MB 2.0 MB/s eta 0:00:02
   -------------------------------- ------- 9.4/11.5 MB 2.0 MB/s eta 0:00:02
   -------------------------------- ------- 9.4/11.5 MB 2.0 MB/s eta 0:00:02
   -------------------------------- ------- 9.4/11.5 MB 2.0 MB/s eta 0:00:02
   -------------------------------- ------- 9.5/11.5 MB 1.9 MB/s eta 0:00:02
   --------------------------------- ------ 9.5/11.5 MB 1.9 MB/s eta 0:00:02
   --------------------------------- ------ 9.6/11.5 MB 1.9 MB/s eta 0:00:01
   --------------------------------- ------ 9.7/11.5 MB 1.9 MB/s eta 0:00:01
   --------------------------------- ------ 9.7/11.5 MB 1.9 MB/s eta 0:00:01
   ---------------------------------- ----- 9.8/11.5 MB 1.9 MB/s eta 0:00:01
   ---------------------------------- ----- 9.9/11.5 MB 1.9 MB/s eta 0:00:01
   ---------------------------------- ----- 9.9/11.5 MB 1.9 MB/s eta 0:00:01
   ---------------------------------- ----- 10.0/11.5 MB 1.9 MB/s eta 0:00:01
   ----------------------------------- ---- 10.1/11.5 MB 1.9 MB/s eta 0:00:01
   ----------------------------------- ---- 10.1/11.5 MB 1.9 MB/s eta 0:00:01
   ----------------------------------- ---- 10.1/11.5 MB 1.9 MB/s eta 0:00:01
   ----------------------------------- ---- 10.1/11.5 MB 1.9 MB/s eta 0:00:01
   ----------------------------------- ---- 10.3/11.5 MB 1.9 MB/s eta 0:00:01
   ----------------------------------- ---- 10.4/11.5 MB 2.0 MB/s eta 0:00:01
   ------------------------------------ --- 10.5/11.5 MB 2.0 MB/s eta 0:00:01
   ------------------------------------ --- 10.5/11.5 MB 2.0 MB/s eta 0:00:01
   ------------------------------------ --- 10.6/11.5 MB 2.0 MB/s eta 0:00:01
   ------------------------------------- -- 10.7/11.5 MB 2.0 MB/s eta 0:00:01
   ------------------------------------- -- 10.8/11.5 MB 2.0 MB/s eta 0:00:01
   ------------------------------------- -- 10.9/11.5 MB 2.0 MB/s eta 0:00:01
   -------------------------------------- - 10.9/11.5 MB 2.0 MB/s eta 0:00:01
   -------------------------------------- - 11.0/11.5 MB 2.0 MB/s eta 0:00:01
   -------------------------------------- - 11.1/11.5 MB 2.0 MB/s eta 0:00:01
   ---------------------------------------  11.2/11.5 MB 2.0 MB/s eta 0:00:01
   ---------------------------------------  11.3/11.5 MB 2.0 MB/s eta 0:00:01
   ---------------------------------------  11.4/11.5 MB 2.0 MB/s eta 0:00:01
   ---------------------------------------  11.4/11.5 MB 2.0 MB/s eta 0:00:01
   ---------------------------------------  11.5/11.5 MB 2.0 MB/s eta 0:00:01
   ---------------------------------------  11.5/11.5 MB 2.0 MB/s eta 0:00:01
   ---------------------------------------- 11.5/11.5 MB 1.9 MB/s eta 0:00:00
Downloading pytz-2024.2-py2.py3-none-any.whl (508 kB)
   ---------------------------------------- 0.0/508.0 kB ? eta -:--:--
   ------- -------------------------------- 92.2/508.0 kB 2.6 MB/s eta 0:00:01
   --------------- ------------------------ 194.6/508.0 kB 2.4 MB/s eta 0:00:01
   ---------------------- ----------------- 286.7/508.0 kB 2.2 MB/s eta 0:00:01
   -------------------------- ------------- 337.9/508.0 kB 2.1 MB/s eta 0:00:01
   -------------------------------- ------- 409.6/508.0 kB 2.0 MB/s eta 0:00:01
   ---------------------------------------  501.8/508.0 kB 1.8 MB/s eta 0:00:01
   ---------------------------------------- 508.0/508.0 kB 1.8 MB/s eta 0:00:00
Downloading tzdata-2024.2-py2.py3-none-any.whl (346 kB)
   ---------------------------------------- 0.0/346.6 kB ? eta -:--:--
   --------- ------------------------------ 81.9/346.6 kB 2.2 MB/s eta 0:00:01
   ---------------- ----------------------- 143.4/346.6 kB 2.1 MB/s eta 0:00:01
   ---------------------- ----------------- 194.6/346.6 kB 1.7 MB/s eta 0:00:01
   ---------------------------- ----------- 245.8/346.6 kB 1.7 MB/s eta 0:00:01
   -------------------------------------- - 337.9/346.6 kB 1.6 MB/s eta 0:00:01
   ---------------------------------------- 346.6/346.6 kB 1.5 MB/s eta 0:00:00
Installing collected packages: pytz, tzdata, pandas
Successfully installed pandas-2.2.3 pytz-2024.2 tzdata-2024.2
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [10]:
import pandas as pd

In [12]:
import numpy as np

In [4]:
import numpy as np
import pandas as pd

### Extraction layer

In [5]:
yanki_df = pd.read_csv(r'C:\Users\ADEYINKA\Desktop\10Alytics\Projects\Yanki_Ecommerce_doc\Yanki_ecommerce_case_study\dataset\rawdata\yanki_ecommerce.csv')

In [6]:
yanki_df.head

<bound method NDFrame.head of                                   Order_ID  \
0                                      NaN
1                                      NaN
2     e32af09a-b6ab-497e-af3a-331e4d4ed6e7
3     86eb8859-14ab-4d4e-9267-c5826f4e0c8e
4     7379b560-8897-4623-92a2-523ddcdc43a1
...                                    ...
1015  bb17468a-7648-4974-b3d6-9f9f1a78cb39
1016  184827be-c3bd-40a1-a2bb-8b085d58ddc0
1017  2dac83f2-fddb-4761-b211-ea716feee91c
1018  08341169-2d82-41d4-8273-fda624f99042
1019  476f789e-727f-4aad-9395-3d66aec6261a

                               Customer_ID     Customer_Name  \
0                                      NaN               NaN
1                                      NaN               NaN
2     e0d6cb3c-c4b0-4cfe-8225-b65d094d2424  Dominic Buchanan
3     fa3ca35a-5540-404b-a7eb-9001cdcbd840      Daniel Allen
4     7ad4de53-e6d7-4cd3-99b8-13fb70fe7a34    Daniel Schmidt
...                                    ...               ...
1015  1e75eb3a-9ba5-4ea6-82ec-886abe298058    Jeremy Farrell
1016  c53c32ef-2e64-4ac4-ac48-3707ab1ebd1f       Marc Hudson
1017  ebc19a03-a32d-4d3c-9976-f30cee3d3a70      Devin Joseph
1018  0598403f-7a42-44a9-994e-9f23feb20394   Spencer Elliott
1019  8832dd24-c104-475b-8327-d687d3912b58   Jeffrey Jackson

                                Product_ID Product_Name  \
0     64b689a8-bf03-47d2-a5cc-0723baeb1606        major
1     64b689a8-bf03-47d2-a5cc-0723baeb1606        major
2     2ef6e8fa-6a36-4515-b1c2-a0a700abf386      despite
3     3ba38e01-f8e7-4af2-9246-87ef0961d4f5          sea
4     a58c53bd-a34b-4541-b926-bec9eb84cac2     suddenly
...                                    ...          ...
1015  ad5204d7-e5c2-417c-91f7-5fa07619ef54      officer
1016  0ea15074-b823-4345-924c-aeb9fafe9571        treat
1017  e911b0a9-75fb-4c17-b552-52be0d19f856        watch
1018  9c9792f9-4dc2-43b2-98f4-e989cf1bdb3a       toward
1019  b835cfa0-70c5-4018-a5e8-50c9d71b5d56          hit

                         Brand     Category   Price  Quantity  Total_Price  \
0                   Haynes PLC      perfume   52.34         2       104.68
1                   Haynes PLC      perfume   52.34         2       104.68
2     Lawson, Stone and Campos  perfume oil  250.57         2       501.14
3             Washington Group  perfume oil  179.81         6      1078.86
4                  Rodgers Ltd  perfume oil  600.55         7      4203.85
...                        ...          ...     ...       ...          ...
1015            Thornton Group      perfume  118.46         3       355.38
1016           Guzman-Petersen      perfume   91.14         2       182.28
1017                 Jones-May      perfume  246.73        10      2467.30
1018            Richardson PLC      perfume  647.26        10      6472.60
1019          Hamilton-Daniels  perfume oil  350.29         3      1050.87

                      Order_Date  \
0     2020-05-27 14:20:38.292975
1     2020-05-27 14:20:38.292975
2     2020-03-06 06:49:07.272117
3     2020-07-31 07:09:30.231510
4     2021-05-11 04:33:09.707443
...                          ...
1015  2023-08-07 12:34:10.009932
1016  2024-01-14 09:27:21.372714
1017  2021-01-23 10:25:25.233434
1018  2022-04-15 23:15:41.204791
1019  2021-04-01 09:23:59.544167

                                       Shipping_Address             City  \
0     1648 Brown Bridge Apt. 846\nCaitlinland, MI 57992        Davidstad
1     1648 Brown Bridge Apt. 846\nCaitlinland, MI 57992        Davidstad
2                      PSC 2224, Box 2284\nAPO AP 65880    Jordanborough
3                83909 Johnson Mall\nTranberg, MS 99017    Lake Ginatown
4               82101 Johnson Flat\nWest Ryan, MS 29075       Sarahville
...                                                 ...              ...
1015  440 Carson Port Suite 634\nLake Heather, MA 22883    West Danielle
1016  75333 Clayton Forges Apt. 292\nLake Matthew, D...       Whitemouth
1017             426 Amy Islands\nCollinsberg, MT 21928  South Stephanie
1018         01490 Lopez Garden\nPort Adamton, ND 35200     Thompsonfort
1019           875 Duarte Knolls\nGarciamouth, TX 16464     Jonathanport

               State                           Country  Postal_Code  \
0               Utah                             China        50247
1               Utah                             China        50247
2           Arkansas                            Kuwait        27879
3            Georgia  Saint Vincent and the Grenadines        39336
4               Ohio                            France        30845
...              ...                               ...          ...
1015  South Carolina                              Iran        17863
1016        Arkansas                             Japan        24756
1017         Indiana                       Timor-Leste        54502
1018    South Dakota                          Pakistan        78892
1019            Utah                    Western Sahara        26856

                         Email           Phone_Number Payment_Method  \
0          karen64@example.com  001-217-511-0290x8262    Credit Card
1          karen64@example.com  001-217-511-0290x8262    Credit Card
2       margaret97@example.com           259.603.6134     Debit Card
3         angela55@example.com    +1-869-659-4272x982    Credit Card
4          wayne59@example.org       292.840.0975x724         PayPal
...                        ...                    ...            ...
1015       leejohn@example.com     922.207.8157x85481         PayPal
1016       james85@example.org     908.901.4896x12666         PayPal
1017    chadbenson@example.com          (718)789-6289         PayPal
1018        eric98@example.org       366-506-0469x728         PayPal
1019  turnerjoanna@example.org             8483263716    Credit Card

     Transaction_Status
0             completed
1             completed
2             completed
3             completed
4               pending
...                 ...
1015            pending
1016          completed
1017            pending
1018            pending
1019            pending

[1020 rows x 20 columns]>

In [7]:
yanki_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1020 entries, 0 to 1019
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Order_ID            1000 non-null   object
 1   Customer_ID         1000 non-null   object
 2   Customer_Name       1000 non-null   object
 3   Product_ID          1020 non-null   object
 4   Product_Name        1020 non-null   object
 5   Brand               1020 non-null   object
 6   Category            1020 non-null   object
 7   Price               1020 non-null   float64
 8   Quantity            1020 non-null   int64
 9   Total_Price         1020 non-null   float64
 10  Order_Date          1020 non-null   object
 11  Shipping_Address    1020 non-null   object
 12  City                1020 non-null   object
 13  State               1020 non-null   object
 14  Country             1020 non-null   object
 15  Postal_Code         1020 non-null   int64
 16  Email               1020 non-null   object
 17  Phone_Number        1020 non-null   object
 18  Payment_Method      1020 non-null   object
 19  Transaction_Status  1020 non-null   object
dtypes: float64(2), int64(2), object(16)
memory usage: 159.5+ KB

In [8]:
yanki_df.columns

Index(['Order_ID', 'Customer_ID', 'Customer_Name', 'Product_ID',
       'Product_Name', 'Brand', 'Category', 'Price', 'Quantity', 'Total_Price',
       'Order_Date', 'Shipping_Address', 'City', 'State', 'Country',
       'Postal_Code', 'Email', 'Phone_Number', 'Payment_Method',
       'Transaction_Status'],
      dtype='object')

### Data Cleaning and Transformation

In [9]:
yanki_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1020 entries, 0 to 1019
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Order_ID            1000 non-null   object
 1   Customer_ID         1000 non-null   object
 2   Customer_Name       1000 non-null   object
 3   Product_ID          1020 non-null   object
 4   Product_Name        1020 non-null   object
 5   Brand               1020 non-null   object
 6   Category            1020 non-null   object
 7   Price               1020 non-null   float64
 8   Quantity            1020 non-null   int64
 9   Total_Price         1020 non-null   float64
 10  Order_Date          1020 non-null   object
 11  Shipping_Address    1020 non-null   object
 12  City                1020 non-null   object
 13  State               1020 non-null   object
 14  Country             1020 non-null   object
 15  Postal_Code         1020 non-null   int64
 16  Email               1020 non-null   object
 17  Phone_Number        1020 non-null   object
 18  Payment_Method      1020 non-null   object
 19  Transaction_Status  1020 non-null   object
dtypes: float64(2), int64(2), object(16)
memory usage: 159.5+ KB

In [10]:
#drop missing values in Order_ID and Customer_ID

yanki_df.dropna(subset=['Order_ID', 'Customer_ID'], inplace=True)

In [11]:
yanki_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, 2 to 1019
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Order_ID            1000 non-null   object
 1   Customer_ID         1000 non-null   object
 2   Customer_Name       1000 non-null   object
 3   Product_ID          1000 non-null   object
 4   Product_Name        1000 non-null   object
 5   Brand               1000 non-null   object
 6   Category            1000 non-null   object
 7   Price               1000 non-null   float64
 8   Quantity            1000 non-null   int64
 9   Total_Price         1000 non-null   float64
 10  Order_Date          1000 non-null   object
 11  Shipping_Address    1000 non-null   object
 12  City                1000 non-null   object
 13  State               1000 non-null   object
 14  Country             1000 non-null   object
 15  Postal_Code         1000 non-null   int64
 16  Email               1000 non-null   object
 17  Phone_Number        1000 non-null   object
 18  Payment_Method      1000 non-null   object
 19  Transaction_Status  1000 non-null   object
dtypes: float64(2), int64(2), object(16)
memory usage: 164.1+ KB

In [12]:
# convert the order date from string to order time object
yanki_df['Order_Date'] = pd.to_datetime(yanki_df['Order_Date'])

In [14]:
yanki_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, 2 to 1019
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Order_ID            1000 non-null   object
 1   Customer_ID         1000 non-null   object
 2   Customer_Name       1000 non-null   object
 3   Product_ID          1000 non-null   object
 4   Product_Name        1000 non-null   object
 5   Brand               1000 non-null   object
 6   Category            1000 non-null   object
 7   Price               1000 non-null   float64
 8   Quantity            1000 non-null   int64
 9   Total_Price         1000 non-null   float64
 10  Order_Date          1000 non-null   datetime64[ns]
 11  Shipping_Address    1000 non-null   object
 12  City                1000 non-null   object
 13  State               1000 non-null   object
 14  Country             1000 non-null   object
 15  Postal_Code         1000 non-null   int64
 16  Email               1000 non-null   object
 17  Phone_Number        1000 non-null   object
 18  Payment_Method      1000 non-null   object
 19  Transaction_Status  1000 non-null   object
dtypes: datetime64[ns](1), float64(2), int64(2), object(15)
memory usage: 164.1+ KB

In [15]:
yanki_df.columns

Index(['Order_ID', 'Customer_ID', 'Customer_Name', 'Product_ID',
       'Product_Name', 'Brand', 'Category', 'Price', 'Quantity', 'Total_Price',
       'Order_Date', 'Shipping_Address', 'City', 'State', 'Country',
       'Postal_Code', 'Email', 'Phone_Number', 'Payment_Method',
       'Transaction_Status'],
      dtype='object')

In [18]:
#Customer Table

customers_df = yanki_df[['Customer_ID', 'Customer_Name','Email', 'Phone_Number']].copy().drop_duplicates().reset_index(drop=True)

customers_df.head()

,Customer_ID,Customer_Name,Email,Phone_Number
0,e0d6cb3c-c4b0-4cfe-8225-b65d094d2424,Dominic Buchanan,margaret97@example.com,259.603.6134
1,fa3ca35a-5540-404b-a7eb-9001cdcbd840,Daniel Allen,angela55@example.com,+1-869-659-4272x982
2,7ad4de53-e6d7-4cd3-99b8-13fb70fe7a34,Daniel Schmidt,wayne59@example.org,292.840.0975x724
3,4b9b409c-19f2-41c0-bc7c-6556e0647ebb,John Gonzalez,qsherman@example.com,+1-643-561-3912x262
4,81b513ad-5c02-48cf-bff0-39e1440c4d22,Amber Benitez,derek85@example.com,3424148376

In [19]:
#Product Table

products_df = yanki_df[[ 'Product_ID',
       'Product_Name','Brand', 'Category', 'Price']].copy().drop_duplicates().reset_index(drop=True)

products_df.head()

,Product_ID,Product_Name,Brand,Category,Price
0,2ef6e8fa-6a36-4515-b1c2-a0a700abf386,despite,"Lawson, Stone and Campos",perfume oil,250.57
1,3ba38e01-f8e7-4af2-9246-87ef0961d4f5,sea,Washington Group,perfume oil,179.81
2,a58c53bd-a34b-4541-b926-bec9eb84cac2,suddenly,Rodgers Ltd,perfume oil,600.55
3,e6021be5-90be-4199-b6c6-82542fb2973c,site,"Wilson, Scott and Johnson",perfume oil,414.36
4,60127671-ab32-4fb5-bfeb-1a7782ad835e,act,"Riddle, Alvarez and Robinson",perfume,704.05

In [33]:
#Orders Table
orders_df = yanki_df[['Order_ID','Customer_ID', 'Product_ID','Quantity','Total_Price',
       'Order_Date']].copy().drop_duplicates().reset_index(drop=True)

orders_df.head()

,Order_ID,Customer_ID,Product_ID,Quantity,Total_Price,Order_Date
0,e32af09a-b6ab-497e-af3a-331e4d4ed6e7,e0d6cb3c-c4b0-4cfe-8225-b65d094d2424,2ef6e8fa-6a36-4515-b1c2-a0a700abf386,2,501.14,2020-03-06 06:49:07.272117
1,86eb8859-14ab-4d4e-9267-c5826f4e0c8e,fa3ca35a-5540-404b-a7eb-9001cdcbd840,3ba38e01-f8e7-4af2-9246-87ef0961d4f5,6,1078.86,2020-07-31 07:09:30.231510
2,7379b560-8897-4623-92a2-523ddcdc43a1,7ad4de53-e6d7-4cd3-99b8-13fb70fe7a34,a58c53bd-a34b-4541-b926-bec9eb84cac2,7,4203.85,2021-05-11 04:33:09.707443
3,30c57f86-2fed-43c0-a399-654c2c3bb18d,4b9b409c-19f2-41c0-bc7c-6556e0647ebb,e6021be5-90be-4199-b6c6-82542fb2973c,9,3729.24,2023-09-12 01:47:56.290477
4,41c29d81-9622-43c1-b537-7cdb320d3e6a,81b513ad-5c02-48cf-bff0-39e1440c4d22,60127671-ab32-4fb5-bfeb-1a7782ad835e,9,6336.45,2021-08-20 18:02:04.254156

In [35]:
#Shipping Address_df
shipping_address_df = yanki_df[['Customer_ID','Shipping_Address', 'City', 'State', 'Country','Postal_Code']].copy().drop_duplicates().reset_index(drop=True)

shipping_address_df.index.name = 'ShippingID'
shipping_address_df = shipping_address_df.reset_index()

shipping_address_df.head()

,ShippingID,Customer_ID,Shipping_Address,City,State,Country,Postal_Code
0,0,e0d6cb3c-c4b0-4cfe-8225-b65d094d2424,"PSC 2224, Box 2284\nAPO AP 65880",Jordanborough,Arkansas,Kuwait,27879
1,1,fa3ca35a-5540-404b-a7eb-9001cdcbd840,"83909 Johnson Mall\nTranberg, MS 99017",Lake Ginatown,Georgia,Saint Vincent and the Grenadines,39336
2,2,7ad4de53-e6d7-4cd3-99b8-13fb70fe7a34,"82101 Johnson Flat\nWest Ryan, MS 29075",Sarahville,Ohio,France,30845
3,3,4b9b409c-19f2-41c0-bc7c-6556e0647ebb,"4542 Gary Lane\nSouth Alexander, VI 27671",Lake Michelle,Arkansas,Sao Tome and Principe,30955
4,4,81b513ad-5c02-48cf-bff0-39e1440c4d22,"6794 Caroline Crescent\nEast Karlside, GU 81379",Olsenville,Mississippi,Croatia,45429

In [21]:
yanki_df.columns

Index(['Order_ID', 'Customer_ID', 'Customer_Name', 'Product_ID',
       'Product_Name', 'Brand', 'Category', 'Price', 'Quantity', 'Total_Price',
       'Order_Date', 'Shipping_Address', 'City', 'State', 'Country',
       'Postal_Code', 'Email', 'Phone_Number', 'Payment_Method',
       'Transaction_Status'],
      dtype='object')

In [26]:
#Payment Method Table

payment_method_df = yanki_df[['Order_ID','Payment_Method',
       'Transaction_Status']].copy().drop_duplicates().reset_index(drop=True)

payment_method_df.head()

                               Order_ID Payment_Method Transaction_Status
0  e32af09a-b6ab-497e-af3a-331e4d4ed6e7     Debit Card          completed
1  86eb8859-14ab-4d4e-9267-c5826f4e0c8e    Credit Card          completed
2  7379b560-8897-4623-92a2-523ddcdc43a1         PayPal            pending
3  30c57f86-2fed-43c0-a399-654c2c3bb18d         PayPal          completed
4  41c29d81-9622-43c1-b537-7cdb320d3e6a         PayPal            pending

In [40]:
import os

# Ensure the directory exists
output_dir = r'dataset\cleaneddata'
os.makedirs(output_dir, exist_ok=True)

#Save the Table to CSVs
customers_df.to_csv(r'dataset\cleaneddata\customers.csv', index=False)
products_df.to_csv(r'dataset\cleaneddata\products.csv', index=False)
orders_df.to_csv(r'dataset\cleaneddata\orders.csv', index=False)
shipping_address_df.to_csv(r'dataset\cleaneddata\shipping.csv', index=False)
payment_method_df.to_csv(r'dataset\cleaneddata\payment_method.csv', index=False)

In [41]:
%pip install psycopg2

Collecting psycopg2
  Downloading psycopg2-2.9.10-cp312-cp312-win_amd64.whl.metadata (5.0 kB)
Downloading psycopg2-2.9.10-cp312-cp312-win_amd64.whl (1.2 MB)
   ---------------------------------------- 0.0/1.2 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.2 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.2 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.2 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.2 MB ? eta -:--:--
   - -------------------------------------- 0.0/1.2 MB 140.3 kB/s eta 0:00:09
   -- ------------------------------------- 0.1/1.2 MB 254.2 kB/s eta 0:00:05
   -- ------------------------------------- 0.1/1.2 MB 254.2 kB/s eta 0:00:05
   -- ------------------------------------- 0.1/1.2 MB 254.2 kB/s eta 0:00:05
   --- ------------------------------------ 0.1/1.2 MB 261.9 kB/s eta 0:00:05
   ---- ----------------------------------- 0.1/1.2 MB 266.2 kB/s eta 0:00:04
   ---- ----------------------------------- 0.1/1.2 MB 266.2 kB/s eta 0:00:04
   -------- ------------------------------- 0.2/1.2 MB 386.1 kB/s eta 0:00:03
   --------- ------------------------------ 0.3/1.2 MB 405.2 kB/s eta 0:00:03
   --------- ------------------------------ 0.3/1.2 MB 405.2 kB/s eta 0:00:03
   --------- ------------------------------ 0.3/1.2 MB 405.2 kB/s eta 0:00:03
   ---------- ----------------------------- 0.3/1.2 MB 372.6 kB/s eta 0:00:03
   ------------ --------------------------- 0.4/1.2 MB 428.2 kB/s eta 0:00:02
   ------------ --------------------------- 0.4/1.2 MB 428.2 kB/s eta 0:00:02
   ------------ --------------------------- 0.4/1.2 MB 428.2 kB/s eta 0:00:02
   ------------ --------------------------- 0.4/1.2 MB 428.2 kB/s eta 0:00:02
   ---------------- ----------------------- 0.5/1.2 MB 440.1 kB/s eta 0:00:02
   -------------------- ------------------- 0.6/1.2 MB 558.7 kB/s eta 0:00:02
   -------------------- ------------------- 0.6/1.2 MB 558.7 kB/s eta 0:00:02
   -------------------- ------------------- 0.6/1.2 MB 558.7 kB/s eta 0:00:02
   ----------------------- ---------------- 0.7/1.2 MB 540.7 kB/s eta 0:00:01
   ------------------------- -------------- 0.7/1.2 MB 567.1 kB/s eta 0:00:01
   --------------------------- ------------ 0.8/1.2 MB 586.7 kB/s eta 0:00:01
   ------------------------------ --------- 0.9/1.2 MB 625.7 kB/s eta 0:00:01
   ---------------------------------- ----- 1.0/1.2 MB 676.1 kB/s eta 0:00:01
   ----------------------------------- ---- 1.0/1.2 MB 690.1 kB/s eta 0:00:01
   -------------------------------------- - 1.1/1.2 MB 728.6 kB/s eta 0:00:01
   -------------------------------------- - 1.1/1.2 MB 728.6 kB/s eta 0:00:01
   -------------------------------------- - 1.1/1.2 MB 728.6 kB/s eta 0:00:01
   -------------------------------------- - 1.1/1.2 MB 728.6 kB/s eta 0:00:01
   -------------------------------------- - 1.1/1.2 MB 728.6 kB/s eta 0:00:01
   -------------------------------------- - 1.1/1.2 MB 728.6 kB/s eta 0:00:01
   ---------------------------------------  1.2/1.2 MB 632.6 kB/s eta 0:00:01
   ---------------------------------------- 1.2/1.2 MB 615.3 kB/s eta 0:00:00
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.10
Note: you may need to restart the kernel to use updated packages.

In [42]:
import psycopg2

In [ ]:
def get_db_connection():
  connection = psycopg2.connect(
    
  )