In [106]:
%pip install pandas
%pip install numpy

Requirement already satisfied: pandas in c:\users\adeyinka\anaconda3\lib\site-packages (2.2.2)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: numpy>=1.26.0 in c:\users\adeyinka\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\adeyinka\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\adeyinka\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\adeyinka\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\adeyinka\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: numpy in c:\users\adeyinka\anaconda3\lib\site-packages (1.26.4)
Note: you may need to restart the kernel to use updated packages.

In [107]:
#### Inporting libraries
import numpy as np
import pandas as pd

### Extraction layer

In [108]:
yanki_df = pd.read_csv(r'C:\Users\ADEYINKA\Desktop\10Alytics\Projects\Yanki_Ecommerce_doc\Yanki_ecommerce_case_study\dataset\rawdata\yanki_ecommerce.csv')

In [109]:
yanki_df.head()

,Order_ID,Customer_ID,Customer_Name,Product_ID,Product_Name,Brand,Category,Price,Quantity,Total_Price,Order_Date,Shipping_Address,City,State,Country,Postal_Code,Email,Phone_Number,Payment_Method,Transaction_Status
0,NaN,NaN,NaN,64b689a8-bf03-47d2-a5cc-0723baeb1606,major,Haynes PLC,perfume,52.34,2,104.68,2020-05-27 14:20:38.292975,"1648 Brown Bridge Apt. 846\nCaitlinland, MI 57992",Davidstad,Utah,China,50247,karen64@example.com,001-217-511-0290x8262,Credit Card,completed
1,NaN,NaN,NaN,64b689a8-bf03-47d2-a5cc-0723baeb1606,major,Haynes PLC,perfume,52.34,2,104.68,2020-05-27 14:20:38.292975,"1648 Brown Bridge Apt. 846\nCaitlinland, MI 57992",Davidstad,Utah,China,50247,karen64@example.com,001-217-511-0290x8262,Credit Card,completed
2,e32af09a-b6ab-497e-af3a-331e4d4ed6e7,e0d6cb3c-c4b0-4cfe-8225-b65d094d2424,Dominic Buchanan,2ef6e8fa-6a36-4515-b1c2-a0a700abf386,despite,"Lawson, Stone and Campos",perfume oil,250.57,2,501.14,2020-03-06 06:49:07.272117,"PSC 2224, Box 2284\nAPO AP 65880",Jordanborough,Arkansas,Kuwait,27879,margaret97@example.com,259.603.6134,Debit Card,completed
3,86eb8859-14ab-4d4e-9267-c5826f4e0c8e,fa3ca35a-5540-404b-a7eb-9001cdcbd840,Daniel Allen,3ba38e01-f8e7-4af2-9246-87ef0961d4f5,sea,Washington Group,perfume oil,179.81,6,1078.86,2020-07-31 07:09:30.231510,"83909 Johnson Mall\nTranberg, MS 99017",Lake Ginatown,Georgia,Saint Vincent and the Grenadines,39336,angela55@example.com,+1-869-659-4272x982,Credit Card,completed
4,7379b560-8897-4623-92a2-523ddcdc43a1,7ad4de53-e6d7-4cd3-99b8-13fb70fe7a34,Daniel Schmidt,a58c53bd-a34b-4541-b926-bec9eb84cac2,suddenly,Rodgers Ltd,perfume oil,600.55,7,4203.85,2021-05-11 04:33:09.707443,"82101 Johnson Flat\nWest Ryan, MS 29075",Sarahville,Ohio,France,30845,wayne59@example.org,292.840.0975x724,PayPal,pending

In [110]:
yanki_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1020 entries, 0 to 1019
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Order_ID            1000 non-null   object
 1   Customer_ID         1000 non-null   object
 2   Customer_Name       1000 non-null   object
 3   Product_ID          1020 non-null   object
 4   Product_Name        1020 non-null   object
 5   Brand               1020 non-null   object
 6   Category            1020 non-null   object
 7   Price               1020 non-null   float64
 8   Quantity            1020 non-null   int64
 9   Total_Price         1020 non-null   float64
 10  Order_Date          1020 non-null   object
 11  Shipping_Address    1020 non-null   object
 12  City                1020 non-null   object
 13  State               1020 non-null   object
 14  Country             1020 non-null   object
 15  Postal_Code         1020 non-null   int64
 16  Email               1020 non-null   object
 17  Phone_Number        1020 non-null   object
 18  Payment_Method      1020 non-null   object
 19  Transaction_Status  1020 non-null   object
dtypes: float64(2), int64(2), object(16)
memory usage: 159.5+ KB

In [111]:
yanki_df.columns

Index(['Order_ID', 'Customer_ID', 'Customer_Name', 'Product_ID',
       'Product_Name', 'Brand', 'Category', 'Price', 'Quantity', 'Total_Price',
       'Order_Date', 'Shipping_Address', 'City', 'State', 'Country',
       'Postal_Code', 'Email', 'Phone_Number', 'Payment_Method',
       'Transaction_Status'],
      dtype='object')

### Data Cleaning and Transformation

In [112]:
yanki_df.columns

Index(['Order_ID', 'Customer_ID', 'Customer_Name', 'Product_ID',
       'Product_Name', 'Brand', 'Category', 'Price', 'Quantity', 'Total_Price',
       'Order_Date', 'Shipping_Address', 'City', 'State', 'Country',
       'Postal_Code', 'Email', 'Phone_Number', 'Payment_Method',
       'Transaction_Status'],
      dtype='object')

In [113]:
yanki_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1020 entries, 0 to 1019
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Order_ID            1000 non-null   object
 1   Customer_ID         1000 non-null   object
 2   Customer_Name       1000 non-null   object
 3   Product_ID          1020 non-null   object
 4   Product_Name        1020 non-null   object
 5   Brand               1020 non-null   object
 6   Category            1020 non-null   object
 7   Price               1020 non-null   float64
 8   Quantity            1020 non-null   int64
 9   Total_Price         1020 non-null   float64
 10  Order_Date          1020 non-null   object
 11  Shipping_Address    1020 non-null   object
 12  City                1020 non-null   object
 13  State               1020 non-null   object
 14  Country             1020 non-null   object
 15  Postal_Code         1020 non-null   int64
 16  Email               1020 non-null   object
 17  Phone_Number        1020 non-null   object
 18  Payment_Method      1020 non-null   object
 19  Transaction_Status  1020 non-null   object
dtypes: float64(2), int64(2), object(16)
memory usage: 159.5+ KB

In [114]:
#drop missing values in Order_ID and Customer_ID

yanki_df.dropna(subset=['Order_ID', 'Customer_ID'], inplace=True)

In [115]:
yanki_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, 2 to 1019
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Order_ID            1000 non-null   object
 1   Customer_ID         1000 non-null   object
 2   Customer_Name       1000 non-null   object
 3   Product_ID          1000 non-null   object
 4   Product_Name        1000 non-null   object
 5   Brand               1000 non-null   object
 6   Category            1000 non-null   object
 7   Price               1000 non-null   float64
 8   Quantity            1000 non-null   int64
 9   Total_Price         1000 non-null   float64
 10  Order_Date          1000 non-null   object
 11  Shipping_Address    1000 non-null   object
 12  City                1000 non-null   object
 13  State               1000 non-null   object
 14  Country             1000 non-null   object
 15  Postal_Code         1000 non-null   int64
 16  Email               1000 non-null   object
 17  Phone_Number        1000 non-null   object
 18  Payment_Method      1000 non-null   object
 19  Transaction_Status  1000 non-null   object
dtypes: float64(2), int64(2), object(16)
memory usage: 164.1+ KB

In [116]:
# convert the order date from string to order time object
yanki_df['Order_Date'] = pd.to_datetime(yanki_df['Order_Date'])

In [117]:
yanki_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, 2 to 1019
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Order_ID            1000 non-null   object
 1   Customer_ID         1000 non-null   object
 2   Customer_Name       1000 non-null   object
 3   Product_ID          1000 non-null   object
 4   Product_Name        1000 non-null   object
 5   Brand               1000 non-null   object
 6   Category            1000 non-null   object
 7   Price               1000 non-null   float64
 8   Quantity            1000 non-null   int64
 9   Total_Price         1000 non-null   float64
 10  Order_Date          1000 non-null   datetime64[ns]
 11  Shipping_Address    1000 non-null   object
 12  City                1000 non-null   object
 13  State               1000 non-null   object
 14  Country             1000 non-null   object
 15  Postal_Code         1000 non-null   int64
 16  Email               1000 non-null   object
 17  Phone_Number        1000 non-null   object
 18  Payment_Method      1000 non-null   object
 19  Transaction_Status  1000 non-null   object
dtypes: datetime64[ns](1), float64(2), int64(2), object(15)
memory usage: 164.1+ KB

In [118]:
yanki_df.columns

Index(['Order_ID', 'Customer_ID', 'Customer_Name', 'Product_ID',
       'Product_Name', 'Brand', 'Category', 'Price', 'Quantity', 'Total_Price',
       'Order_Date', 'Shipping_Address', 'City', 'State', 'Country',
       'Postal_Code', 'Email', 'Phone_Number', 'Payment_Method',
       'Transaction_Status'],
      dtype='object')

In [119]:
#Customer Table

customers_df = yanki_df[['Customer_ID', 'Customer_Name','Email', 'Phone_Number']].copy().drop_duplicates().reset_index(drop=True)

customers_df.head()

,Customer_ID,Customer_Name,Email,Phone_Number
0,e0d6cb3c-c4b0-4cfe-8225-b65d094d2424,Dominic Buchanan,margaret97@example.com,259.603.6134
1,fa3ca35a-5540-404b-a7eb-9001cdcbd840,Daniel Allen,angela55@example.com,+1-869-659-4272x982
2,7ad4de53-e6d7-4cd3-99b8-13fb70fe7a34,Daniel Schmidt,wayne59@example.org,292.840.0975x724
3,4b9b409c-19f2-41c0-bc7c-6556e0647ebb,John Gonzalez,qsherman@example.com,+1-643-561-3912x262
4,81b513ad-5c02-48cf-bff0-39e1440c4d22,Amber Benitez,derek85@example.com,3424148376

In [120]:
#Product Table

products_df = yanki_df[[ 'Product_ID',
       'Product_Name','Brand', 'Category', 'Price']].copy().drop_duplicates().reset_index(drop=True)

products_df.head()

,Product_ID,Product_Name,Brand,Category,Price
0,2ef6e8fa-6a36-4515-b1c2-a0a700abf386,despite,"Lawson, Stone and Campos",perfume oil,250.57
1,3ba38e01-f8e7-4af2-9246-87ef0961d4f5,sea,Washington Group,perfume oil,179.81
2,a58c53bd-a34b-4541-b926-bec9eb84cac2,suddenly,Rodgers Ltd,perfume oil,600.55
3,e6021be5-90be-4199-b6c6-82542fb2973c,site,"Wilson, Scott and Johnson",perfume oil,414.36
4,60127671-ab32-4fb5-bfeb-1a7782ad835e,act,"Riddle, Alvarez and Robinson",perfume,704.05

In [121]:
#Orders Table
orders_df = yanki_df[['Order_ID','Customer_ID', 'Product_ID','Quantity','Total_Price',
       'Order_Date']].copy().drop_duplicates().reset_index(drop=True)

orders_df.head()

,Order_ID,Customer_ID,Product_ID,Quantity,Total_Price,Order_Date
0,e32af09a-b6ab-497e-af3a-331e4d4ed6e7,e0d6cb3c-c4b0-4cfe-8225-b65d094d2424,2ef6e8fa-6a36-4515-b1c2-a0a700abf386,2,501.14,2020-03-06 06:49:07.272117
1,86eb8859-14ab-4d4e-9267-c5826f4e0c8e,fa3ca35a-5540-404b-a7eb-9001cdcbd840,3ba38e01-f8e7-4af2-9246-87ef0961d4f5,6,1078.86,2020-07-31 07:09:30.231510
2,7379b560-8897-4623-92a2-523ddcdc43a1,7ad4de53-e6d7-4cd3-99b8-13fb70fe7a34,a58c53bd-a34b-4541-b926-bec9eb84cac2,7,4203.85,2021-05-11 04:33:09.707443
3,30c57f86-2fed-43c0-a399-654c2c3bb18d,4b9b409c-19f2-41c0-bc7c-6556e0647ebb,e6021be5-90be-4199-b6c6-82542fb2973c,9,3729.24,2023-09-12 01:47:56.290477
4,41c29d81-9622-43c1-b537-7cdb320d3e6a,81b513ad-5c02-48cf-bff0-39e1440c4d22,60127671-ab32-4fb5-bfeb-1a7782ad835e,9,6336.45,2021-08-20 18:02:04.254156

In [122]:
#Shipping Address_df
shipping_address_df = yanki_df[['Customer_ID','Shipping_Address', 'City', 'State', 'Country','Postal_Code']].copy().drop_duplicates().reset_index(drop=True)

shipping_address_df.index.name = 'ShippingID'
shipping_address_df = shipping_address_df.reset_index()

shipping_address_df.head()

,ShippingID,Customer_ID,Shipping_Address,City,State,Country,Postal_Code
0,0,e0d6cb3c-c4b0-4cfe-8225-b65d094d2424,"PSC 2224, Box 2284\nAPO AP 65880",Jordanborough,Arkansas,Kuwait,27879
1,1,fa3ca35a-5540-404b-a7eb-9001cdcbd840,"83909 Johnson Mall\nTranberg, MS 99017",Lake Ginatown,Georgia,Saint Vincent and the Grenadines,39336
2,2,7ad4de53-e6d7-4cd3-99b8-13fb70fe7a34,"82101 Johnson Flat\nWest Ryan, MS 29075",Sarahville,Ohio,France,30845
3,3,4b9b409c-19f2-41c0-bc7c-6556e0647ebb,"4542 Gary Lane\nSouth Alexander, VI 27671",Lake Michelle,Arkansas,Sao Tome and Principe,30955
4,4,81b513ad-5c02-48cf-bff0-39e1440c4d22,"6794 Caroline Crescent\nEast Karlside, GU 81379",Olsenville,Mississippi,Croatia,45429

In [123]:
yanki_df.columns

Index(['Order_ID', 'Customer_ID', 'Customer_Name', 'Product_ID',
       'Product_Name', 'Brand', 'Category', 'Price', 'Quantity', 'Total_Price',
       'Order_Date', 'Shipping_Address', 'City', 'State', 'Country',
       'Postal_Code', 'Email', 'Phone_Number', 'Payment_Method',
       'Transaction_Status'],
      dtype='object')

In [124]:
#Payment Method Table

payment_method_df = yanki_df[['Order_ID','Payment_Method',
       'Transaction_Status']].copy().drop_duplicates().reset_index(drop=True)

payment_method_df.head()

                               Order_ID Payment_Method Transaction_Status
0  e32af09a-b6ab-497e-af3a-331e4d4ed6e7     Debit Card          completed
1  86eb8859-14ab-4d4e-9267-c5826f4e0c8e    Credit Card          completed
2  7379b560-8897-4623-92a2-523ddcdc43a1         PayPal            pending
3  30c57f86-2fed-43c0-a399-654c2c3bb18d         PayPal          completed
4  41c29d81-9622-43c1-b537-7cdb320d3e6a         PayPal            pending

In [125]:
#import os

# # Ensure the directory exists
# output_dir = r'dataset\cleaneddata'
# os.makedirs(output_dir, exist_ok=True)

#Save the Table to CSVs
customers_df.to_csv(r'C:\Users\ADEYINKA\Desktop\10Alytics\Projects\Yanki_Ecommerce_doc\Yanki_ecommerce_case_study\dataset\cleaneddata\customers.csv', index = False)
customers_df.to_csv(r'C:\Users\ADEYINKA\Desktop\10Alytics\Projects\Yanki_Ecommerce_doc\Yanki_ecommerce_case_study\dataset\cleaneddata\products.csv', index = False)
customers_df.to_csv(r'C:\Users\ADEYINKA\Desktop\10Alytics\Projects\Yanki_Ecommerce_doc\Yanki_ecommerce_case_study\dataset\cleaneddata\orders.csv', index = False)
customers_df.to_csv(r'C:\Users\ADEYINKA\Desktop\10Alytics\Projects\Yanki_Ecommerce_doc\Yanki_ecommerce_case_study\dataset\cleaneddata\shipping.csv', index = False)
customers_df.to_csv(r'C:\Users\ADEYINKA\Desktop\10Alytics\Projects\Yanki_Ecommerce_doc\Yanki_ecommerce_case_study\dataset\cleaneddata\payment_method.csv', index = False)
# customers_df.to_csv(r'dataset\cleaneddata\customers.csv', index=False)
# products_df.to_csv(r'dataset\cleaneddata\products.csv', index=False)
# orders_df.to_csv(r'dataset\cleaneddata\orders.csv', index=False)
# shipping_address_df.to_csv(r'dataset\cleaneddata\shipping.csv', index=False)
# payment_method_df.to_csv(r'dataset\cleaneddata\payment_method.csv', index=False)

### Data Loading

In [126]:
%pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\adeyinka\anaconda3\lib\site-packages (2.9.10)
Note: you may need to restart the kernel to use updated packages.

In [127]:
import psycopg2

In [128]:
def get_db_connection():
  connection = psycopg2.connect(
    host = 'localhost',
    database = 'YankiEcommerce',
    user = 'postgres',
    password = 'Tlimsisnw@ps23'
  )
  return connection

In [129]:
conn = get_db_connection()

In [130]:
# Create SQL Tables

def create_tables():
  conn = get_db_connection()
  cursor = conn.cursor()
  create_tables_query = '''
                        CREATE SCHEMA IF NOT EXISTS yanki;

                        DROP TABLE IF EXISTS yanki.customers CASCADE;
                        DROP TABLE IF EXISTS yanki.products CASCADE;
                        DROP TABLE IF EXISTS yanki.orderrs CASCADE;
                        DROP TABLE IF EXISTS yanki.shipping CASCADE;
                        DROP TABLE IF EXISTS yanki.payment_method CASCADE;

                        CREATE TABLE IF NOT EXISTS yanki.customers(
                          Customer_ID UUID PRIMARY KEY,
                          Customer_Name TEXT,
                          Email TEXT,
                          Phone_Number TEXT
                        );

                        CREATE TABLE IF NOT EXISTS yanki.products(
                          Product_ID UUID PRIMARY KEY,
                          Product_Name TEXT,
                          Brand TEXT,
                          Category TEXT,
                          Price FLOAT
                        );

                         CREATE TABLE IF NOT EXISTS yanki. orders(
                          Order_ID UUID PRIMARY KEY,
                          Customer_ID UUID,
                          Product_ID UUID,
                          Quantity TEXT,
                          Total_Price FLOAT,
                          Order_Date DATE,
                          FOREIGN KEY (Customer_ID) REFERENCES yanki.customers(Customer_ID),
                          FOREIGN KEY (Product_ID) REFERENCES yanki.products(Product_ID)
                        );

                        CREATE TABLE IF NOT EXISTS yanki.shipping(
                          ShippingID SERIAL PRIMARY KEY,
                          Customer_ID UUID,
                          Shipping_Address TEXT,
                          City TEXT,
                          State FLOAT,
                          Country TEXT,
                          Postal_Code INTEGER,
                          FOREIGN KEY (Customer_ID) REFERENCES yanki.customers(Customer_ID)


                        );

                        CREATE TABLE IF NOT EXISTS yanki.payment_method(
                          Order_ID UUID PRIMARY KEY,
                          Payment_Method TEXT,
                          Transaction_Status TEXT,
                          FOREIGN KEY (Order_ID) REFERENCES yanki.orders(Order_ID)

                        );


                        '''
  cursor.execute(create_tables_query)
  conn.commit()
  cursor.close()
  conn.close()

In [131]:
create_tables()

In [132]:
display(customers_df.columns)

display(customers_df.info())

Index(['Customer_ID', 'Customer_Name', 'Email', 'Phone_Number'], dtype='object')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 990 entries, 0 to 989
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Customer_ID    990 non-null    object
 1   Customer_Name  990 non-null    object
 2   Email          990 non-null    object
 3   Phone_Number   990 non-null    object
dtypes: object(4)
memory usage: 31.1+ KB

None

In [140]:
import csv
def load_data_from_csv(csv_path):
  conn=get_db_connection()
  cursor = conn.cursor()
  with open(csv_path, 'r') as file:
    reader = csv.reader(file)
    next(reader)
    for row in reader:
      cursor.execute('''
                      INSERT INTO yanki.customers(Customer_ID, Customer_Name, Email, Phone_Number)
                      VALUE (%s, %s, %s, %s);''',
                      row
                    )
  conn.commit()
  cursor.close()
  conn.close()

  csv_file_path = r'dataset\cleaneddata\customers.csv'
  load_data_from_csv(csv_file_path)

In [134]:
#importing csv file into posgres server - products.csv

import csv
def load_data_from_csv(csv_path):
  conn=get_db_connection()
  cursor = conn.cursor()
  with open(csv_path, 'r') as file:
    reader = csv.reader(file)
    next(reader)
    for row in reader:
      cursor.execute('''
                      INSERT INTO yanki.products(Product_ID, Product_Name, Brand, Category,Price)
                      VALUE (%s, %s, %s, %s, %s);''',
                      row
                    )
  conn.commit()
  
  cursor.close()
  conn.close()

  csv_file_path = r'dataset\cleaneddata\products.csv'
  load_data_from_csv(csv_file_path)

In [146]:
products_df.columns

Index(['Product_ID', 'Product_Name', 'Brand', 'Category', 'Price'], dtype='object')

In [147]:
#importing csv file into posgres server - orders.csv

import csv
def load_data_from_csv(csv_path):
  conn=get_db_connection()
  cursor = conn.cursor()
  with open(csv_path, 'r') as file:
    reader = csv.reader(file)
    next(reader)
    for row in reader:
      cursor.execute('''
                      INSERT INTO yanki.orders(Order_ID, Customer_ID, Product_ID, Quantity,Total_Price,Order_Date)
                      VALUE (%s, %s, %s, %s, %s,%s);''',
                      row
                    )
  conn.commit()
  
  cursor.close()
  conn.close()

  csv_file_path = r'dataset\cleaneddata\orders.csv'
  load_data_from_csv(csv_file_path)

In [136]:
#importing csv file into posgres - shipping_address
import csv
def load_data_from_csv(csv_path):
  conn=get_db_connection()
  cursor = conn.cursor()
  with open(csv_path, 'r') as file:
    reader = csv.reader(file)
    next(reader)
    for row in reader:
      cursor.execute('''
                      INSERT INTO yanki.shipping(ShippingID, Customer_ID, Shipping_Address, City,State,Country,)
                      VALUE (%s, %s, %s, %s, %s, %s, %s);''',
                      row
                    )
  conn.commit()
  
  cursor.close()
  conn.close()

  csv_file_path = r'dataset\cleaneddata\shipping.csv'
  load_data_from_csv(csv_file_path)

In [137]:
#importing csv file into posgres - payment_method
import csv
def load_data_from_csv(csv_path):
  conn=get_db_connection()
  cursor = conn.cursor()
  with open(csv_path, 'r') as file:
    reader = csv.reader(file)
    next(reader)
    for row in reader:
      cursor.execute('''
                      INSERT INTO yanki.payment_method(Order_ID, Payment_Method, Transaction_Status)
                      VALUE (%s, %s, %s);''',
                      row
                    )
  conn.commit()
  
  cursor.close()
  conn.close()

  csv_file_path = r'dataset\cleaneddata\payment_method.csv'
  load_data_from_csv(csv_file_path)

In [138]:
display(payment_method_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 990 entries, 0 to 989
Data columns (total 3 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Order_ID            990 non-null    object
 1   Payment_Method      990 non-null    object
 2   Transaction_Status  990 non-null    object
dtypes: object(3)
memory usage: 23.3+ KB

None